@model Basecode.Data.ViewModels.AssignUsersViewModel

<div class="modal fade" id="assignUsersModal" tabindex="-1" aria-labelledby="assignUsersModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header mx-4 border-bottom border-2">
                <h1 class="modal-title fs-3" id="assignUsersModalLabel">@Model.JobOpeningTitle</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-5 py-4">
                <form id="assignUsersForm">

                    <div class="row text-center">
                        <div class="col">
                            <h1>Applicants <br /> @Model.Applicants.Count</h1>
                        </div>
                        <div class="col">
                            <h1>Assigned HR <br /> <span id="totalAssignedUsers"></span></h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Applicants.Count > 0)
                                    {
                                        @foreach (var applicant in Model.Applicants)
                                        {
                                            <tr>
                                                <td>@applicant.Firstname @applicant.Lastname</td>
                                                <td>@applicant.Status</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>No Applicants Found</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="col">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="usersList">
                                    @foreach (var user in Model.Users)
                                    {
                                        if (user.IsLinkedToJobOpening)
                                        {
                                            <tr>
                                                <td>@user.Fullname</td>
                                                <td>@user.Email</td>
                                                <td data-user-id="@user.Id">
                                                    <button class="remove-button"><i class="fa-solid fa-xmark"></i></button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>

                            <select id="userDropdown" style="width:70%">
                                <option></option> <!-- Placeholder -->
                                <!-- Users will be dynamically added here -->
                            </select>
                            <button id="confirmButton" disabled>Assign User</button>

                        </div>
                    </div>
                    <input type="hidden" id="userData" value='@Html.Raw(Json.Serialize(Model.Users))' />
                    <input type="hidden" id="hiddenJobOpeningId" value="@Model.JobOpeningId" />
                </form>
            </div>
            <div class="modal-footer justify-content-between border-0 mx-3 mb-3">
                <button type="button" class="btn btn-cancel" data-bs-dismiss="modal"><i class="fa-regular fa-circle-xmark"></i> CANCEL</button>
                <button type="button" class="btn btn-submit" id="saveChangesButton"><i class="fa-solid fa-floppy-disk"></i> SAVE CHANGES</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/dashboard/assign.js"></script>