@model List<Basecode.Data.Models.CurrentHire>

<script src="~/js/dashboard/index.js"></script>

<style>
    tbody, td, tfoot, th, thead, tr {
        border-color: inherit;
        border: none !important;
    }

    th {
        line-height: 40px;
        color: #565d6dff;
        font-size: 14px;
        font-weight: 500;
    }

    tbody {
        text-align: center;
    }

    .col {
        flex: 1 0 0%;
        border: 2px solid rgba(0, 0, 0, 0.03);
        border-radius: 10px;
    }
</style>


<!-- Table -->
<div class="row">
    <div class="col">
        <table class="table table-striped text-center align-middle mt-2 overflow-hidden" style="border-radius: 10px;--bs-table-striped-bg: rgba(0, 0, 0, 0.03);">
            <!-- Table header -->
            <tr>
                <th>APPLICANT ID</th>
                <th>FIRSTNAME</th>
                <th>PHONE</th>
                <th>EMAIL</th>
                <th>STATUS</th>
            </tr>
            <!-- Add the table rows -->
            @foreach (var hire in Model)
            {
                <tr>
                    <td>@hire.Id</td>
                    <td>@hire.Firstname</td>
                    <td>@hire.Phone</td>
                    <td>@hire.Email</td>
                    <td>@hire.Status</td>
                </tr>
            }
        </table>
    </div>
</div>
