@using Basecode.Data.Models
@model Application

<!-- Modal -->
<div class="modal fade" id="viewApplicationModal" tabindex="-1" aria-labelledby="viewApplicationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header pb-5">
                <div class="d-flex flex-column gap-3">
                    <h1 class="modal-title fs-3" style="color:red" id="viewApplicationModalLabel">@Model.JobOpening.Title</h1>
                    <h5>ID: <i style="font-weight:300; font-size:0.9rem;">@Model.JobOpening.Id</i></h5>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="d-flex p-5">
                <div class="d-flex flex-column me-4">
                    <h4>Applicant Information</h4>
                    <p>Applicant ID: @Model.Applicant.Id</p>
                    <p>Applicant Name: @Model.Applicant.Lastname, @Model.Applicant.Firstname</p>
                    <p>Applicant Email: @Model.Applicant.Email</p>
                </div>
                <div class="d-flex flex-column">
                    <h4>File</h4>
                    @if (Model.Applicant.CV != null)
                    {
                        <a href="@Url.Action("DownloadFile", "Dashboard", new { id = Model.ApplicantId })" class="btn btn-primary">
                            Download File
                        </a>
                    }
                    else
                    {
                        <p>No File Available</p>
                    }
                </div>
            </div>
           @* <a asp-controller="Email" asp-action="SendApprovalEmail" class="btn-danger" style="text-decoration:none; text-align:center; padding: 1.4rem; cursor:pointer">HR SCREENING</a>
      *@  
            <a href="@Url.Action("ViewDetailsUpdate", "Dashboard", new {appId = Model.Id, email = Model.JobOpening.CreatedBy, status = "For HR Screening"})" class="btn btn-danger" style="text-decoration:none; text-align:center; padding: 1.4rem; cursor:pointer">
                HR SCREENING
            </a>

            </div>
    </div>
</div>
