@model Basecode.Data.ViewModels.ApplicantDirectoryViewModel

@{
    Layout = "/Views/Shared/_Admin.cshtml";
}

<style>
    .nav-tabs .nav-link.active {
        color: #EC2224;
    }

    .nav-tabs .nav-link:not(.active) {
        color: black;
    }
</style>

<div class="container">
    <div class="container d-flex flex-column align-content-start justify-content-start">
        <div class="container d-flex flex-row justify-content-between align-items-center">
            <ul class="nav nav-tabs" id="directoryTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="applicants-tab" data-bs-toggle="tab" data-bs-target="#applicants-tab-pane" type="button" role="tab" aria-controls="applicants-tab-pane" aria-selected="true">APPLICANTS</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="shortlists-tab" data-bs-toggle="tab" data-bs-target="#shortlists-tab-pane" type="button" role="tab" aria-controls="shortlists-tab-pane" aria-selected="false">SHORTLISTS</button>
                </li>
            </ul>
            <a id="backButton" class="btn" style="background-color: #EC2224; color: white;" onclick="goBack2()">Back</a>
        </div>
        <div class="tab-content" id="directoryTabContent">
            <div class="tab-pane fade show active" id="applicants-tab-pane" role="tabpanel" aria-labelledby="applicants-tab" tabindex="0">
                <div class="container d-flex flex-row align-content-center justify-content-start">
                    <table class="table table-striped align-middle">
                        <thead class="text-center">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Job Applied</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        @foreach (var applicant in Model.Applicants)
                        {
                            <tr>
                                <td>
                                    @if (!string.IsNullOrEmpty(applicant.Middlename))
                                    {
                                        @Html.Raw($"{applicant.Firstname} {applicant.Middlename} {applicant.Lastname}")
                                    }
                                    else
                                    {
                                        @Html.Raw($"{applicant.Firstname} {applicant.Lastname}")
                                    }
                                </td>
                                <td>@(applicant.Email)</td>
                                <td>@(applicant.Application.JobOpening.Title)</td>
                                <td>
                                    <a asp-controller="Dashboard" asp-action="DirectoryViewDetails" asp-route-applicantId="@applicant.Id" class="btn" style="background-color: #EC2224; color: white;">View Details</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="shortlists-tab-pane" role="tabpanel" aria-labelledby="shortlists-tab" tabindex="0">
                @Html.Partial("~/Views/Dashboard/ShortListView.cshtml", Model.Shortlists)
            </div>
        </div>
    </div>
</div>
